@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-teal: #00a299;
  --color-brand-teal-dark: #008a82;
  --color-brand-blue: #2b478b;
  --color-brand-blue-dark: #1e3263;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}